@font-face {
  font-family: permanentMarker;
  src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: newTegomin;
  src: url('../fonts/New_Tegomin/NewTegomin-Regular.ttf');
}
